<launch>
    <arg name="rname" default="/"/>
    <arg name="rviz"       default="true"/>
    <param name="map_frame" value="map" />
    <arg name="base_frame" default="/base"/>
    <arg name="odom_frame" default="/odom"/>
    <arg name="robot_path" value="(find $(arg rname)_description)"/>
    <arg name="dollar" value="$"/>
    <arg name="user_debug" default="false"/>
    
    <!-- <arg if="$(eval arg('rname') == '/')"  name="frame_prefix" value="" />
    <arg unless="$(eval arg('rname') == '/')" name="frame_prefix" value="$(arg rname)/" /> -->

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find go1_description)/xacro/robot.xacro'
                DEBUG:=$(arg user_debug)"/>

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
            <param name="use_gui" value="false"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

    <!-- <group ns="$(arg rname)"> -->
        <!-- Map server -->
        <!-- <arg name="map_file" default="$(find unitree_navigation)/maps/rtabmap_240109.yaml"/> -->
        <arg name="map_file" default="$(find unitree_navigation)/maps/rga_office_240307.yaml"/>
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" >
            <!-- <param name="frame_id" value="$(arg frame_prefix)map" /> -->
            <param name="frame_id" value="map" />
        </node>

        <!-- Uncomment if you want to convert PointCloud2 data from the three depth cameras to LaserScan -->
        <!-- <include file="$(find unitree_move_base)/launch/pointCloud2LaserScan.launch"/>  -->

        <!-- AMCL used for localization -->
        <include file="$(find unitree_navigation)/launch/navigation/amcl.launch">
            <!-- <arg name="frame_prefix" value="$(arg frame_prefix)"/> -->
            <arg name="base_frame" value="$(arg base_frame)"/>
            <arg name="odom_frame" value="$(arg odom_frame)"/>
            <arg name="scan" value="scan"/>
        </include>
        
        <!-- Calls navigation stack packages -->
        <include file="$(find unitree_move_base)/launch/move_base_go1.launch">
            <!-- <arg name="frame_prefix" value="$(arg frame_prefix)"/> -->
            <arg name="rname"   value="$(arg rname)"/>
        </include>

        <!-- <include file="$(find unitree_move_base)/launch/move_base.launch"/> -->

        <!-- <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find champ_navigation)/rviz/navigate.rviz -f $(arg frame_prefix)map"
            output="screen"/> -->

        <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
            args="-d $(find unitree_move_base)/rviz/move_base.rviz"/>

        <node pkg="tf" type="static_transform_publisher" name="map_to_base_broadcaster" args="0 0 0 0 0 0 map base 100"/>
        <node pkg="tf" type="static_transform_publisher" name="base_to_odom_broadcaster" args="0 0 0 0 0 0 base odom 100"/>
        <node pkg="tf" type="static_transform_publisher" name="odom_to_trunk_broadcaster" args="0 0 0 0 0 0 odom trunk 100"/>
        <node pkg="tf" type="static_transform_publisher" name="trunk_to_laser_broadcaster" args="0 0 0 0 0 0 trunk laser_link 100"/>


    <!-- </group> -->
</launch>
